{% extends "base.html" %}


{% block main %}

<style>
    .custom-link {
background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
background-size: 100% 3px, 3px 100%;
background-position: 100% 100%, 100% 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
}

.custom-link:hover {

background-size: 3px 100%, 100% 3px;
}
</style>

        {% if user.is_authenticated %}

        <a href="{% url 'index' %}" class="custom-link">Главная </a>
        {% if user.token %}
            <span> | </span> 
            <a href="{% url 'update_token' %}" class="custom-link">Обновить токен </a>
        {% endif %}
        <span> | </span> 
        <a href="{% url 'logout' %}" class="custom-link">Выйти </a>
        <style>
            .custom-link {
    background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
                linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 3px, 3px 100%;
    background-position: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.custom-link:hover {
    
    background-size: 3px 100%, 100% 3px;
}
        </style>

            <h1>Вы вошли в систему!</h1>
            <p>Email: {{user.email}}</p>

            {% if user.token %}    
            
                <form method="post" action="{% url 'call' %}">
                    {% csrf_token %}                       
                    <p><input type="submit" name="obzvon_button" class="custom-link" value="ОБЗВОН"></p>
                </form>

                <!-- Вывод сообщений об успешном/неудачном выполнении запроса -->

                <p>{{text|linebreaksbr}}</p>        

                
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
       
            {% else %}
                <form method="post" action="">
                    {% csrf_token %}
                    <p>Введите токен</p>
                    <input type="text" name="token">
                    <p></p>
                    <input type="submit" value="Отправить токен">
                </form><br>
                <style>
                    .custom-link {
                         background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
                        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
                         background-size: 100% 3px, 3px 100%;
                        background-position: 100% 100%, 100% 100%;
                        background-repeat: no-repeat;
                        transition: background-size 400ms;
                     }
        
                .custom-link:hover {
            
                 background-size: 3px 100%, 100% 3px;
                 }
                </style>




            {% endif %}          

        {% else %}

            <a href="{% url 'user_registration' %}">Зарегистрироваться</a>
            <span> | </span> 
            <a href="{% url 'login' %}">Войти</a>
            <h1>Авторезуйтесь</h1>   
                     

        {% endif %}
    
{% endblock %}
